<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EthereumWallet"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EthereumWallet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardActivity"
            android:label="OnboardActivity"
            android:theme="@style/Theme.EthereumWallet" />
        <activity
            android:name=".SendActivity"
            android:label="SendActivity"
            android:theme="@style/Theme.EthereumWallet" />
        <activity
            android:name=".ReceiveActivity"
            android:label="ReceiveActivity"
            android:theme="@style/Theme.EthereumWallet" />
        <activity
            android:name=".TransactionConfirmationActivity"
            android:label="TransactionConfirmationActivity"
            android:theme="@style/Theme.EthereumWallet" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>